<launch>
    <arg name="face_detect" default="true"/>
    <arg name="face_track" default="true"/>

	<include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch"/>
	<node name="pantilt_node" pkg="pantilt_node" type="pantilt.py"/>

    <!-- face detect-->
    <group if="$(arg face_detect)">
	<node name="face_detection_node" pkg="face_detection" type="face_detection_node" output="screen"/>
    </group>

    <!-- face tracker-->
    <group if="$(arg face_track)">
    <node name="pantilt_control_node" pkg="pantilt_control" type="pantilt_control_node" output="screen"/>
    </group>

</launch>
